<%- include('nav.ejs') -%>
<div class="page-content">
    <h1 class="welcome-title">Realtime Chat</h1>
    <p class="welcome-description">With this free online chat, join or create rooms to talk to friends.</p>
    <button class="action-button" id="create">Create a Room</button><br>
    <button class="action-button" id="join">Join a Room</button><br>
</div>
<script>
    // Define different html elements into variables
    var create = document.getElementById('create');
    var join = document.getElementById('join');

    // Define event listener for create button
    create.addEventListener('click', function(){
        // Redirect to create page
        location.href = "/create"
    })

    // Define event listener for join button
    join.addEventListener('click', function(){
        // Redirect to join page
        location.href = "/join"
    })
</script>