<head>
    <link rel="stylesheet" href="/main.css">
    <title>Realtime Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Connect to server with socket.io
        const socket = io()
    </script>
</head>
